<div class="job-box pre-scrollable"><div class="job-box pre-scrollable panel panel-info">
  <div class="panel-heading">
    <h2 class="panel-title">Indeed.com results:</h2>
  </div>
  <div class="panel-body">
    <% @indeed.each do |i| %>
    Company: <%= i["company"] %>, <%= i["formattedLocation"] %><br>
    Job Title: <%= link_to i["jobtitle"], i["url"] %><br>
    Description: <%= i["snippet"] %><br>
    Posted <%= i["formattedRelativeTime"] %>
    <hr>
    <% end %>
  </div>
</div>
